@charset "UTF-8";
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
  font-size: 16px;
  line-height: 1.6;
  background: #fff;
  color: #333333;
}
html ul,
body ul {
  list-style: none;
}
html a,
body a {
  text-decoration: none;
  color: inherit;
}
html .inner,
body .inner {
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
}
@media (min-width: 768px) and (max-width: 1199px) {
  html .inner,
body .inner {
    padding-left: 24px;
    padding-right: 24px;
  }
}
@media (max-width: 767px) {
  html .inner,
body .inner {
    padding-left: 15px;
    padding-right: 15px;
  }
}
html .section,
body .section {
  padding: 88px 0px 120px 0;
}
@media (max-width: 767px) {
  html .section,
body .section {
    padding-top: 50px;
    padding-bottom: 60px;
  }
}

img {
  max-width: 100%;
  height: auto;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

.cmn-title {
  text-align: center;
  font-size: 48px;
  font-weight: 700;
  text-transform: capitalize;
  padding-bottom: 12px;
  position: relative;
}
.cmn-title::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  width: 60px;
  height: 4px;
  background: #3F51B5;
}
@media (max-width: 767px) {
  .cmn-title::after {
    width: 42px;
    height: 3px;
  }
}
@media (max-width: 767px) {
  .cmn-title {
    font-size: 24px;
    padding-bottom: 18px;
  }
}

.header {
  background-color: #3F51B5;
  height: 100px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.16);
  z-index: 100;
}
@media (max-width: 767px) {
  .header {
    height: 60px;
  }
}
.header .header-inner {
  display: flex;
  align-items: center;
  height: inherit;
}
@media (max-width: 767px) {
  .header .header-inner {
    padding-left: 16px;
    padding-right: 16px;
  }
}
.header .header-inner .header-logo {
  width: 205px;
}
@media (max-width: 767px) {
  .header .header-inner .header-logo {
    width: 182px;
  }
}
.header .header-inner .header-logo img {
  display: block;
}
.header .header-inner .header-nav {
  margin-left: auto;
}
.header .header-inner .header-list {
  display: flex;
  align-items: center;
}
@media (max-width: 767px) {
  .header .header-inner .header-list {
    display: none;
  }
}
.header .header-inner .header-item:not(:first-child) {
  margin-left: 40px;
}
.header .header-inner .header-item a {
  color: #fff;
  position: relative;
}
.header .header-inner .header-item a::after {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 0px;
  width: 100%;
  height: 2px;
  background: transparent;
  transition: all 0.3 ease 0s;
}
.header .header-inner .header-item a:hover::after, .header .header-inner .header-item a.is-active::after {
  background: #E81919;
}

.footer {
  background: linear-gradient(to bottom, #666666, #333333);
  color: #fff;
  padding: 60px 0 24px;
}
@media (max-width: 767px) {
  .footer {
    padding: 30px 0 14px;
  }
}
.footer .footer-content {
  display: flex;
}
@media (max-width: 767px) {
  .footer .footer-content {
    display: block;
  }
}
.footer .footer-left {
  width: 34%;
}
@media (max-width: 767px) {
  .footer .footer-left {
    width: 100%;
  }
}
.footer .footer-logo img {
  width: 205px;
}
.footer .footer-info {
  font-size: 14px;
}
.footer .footer-add {
  margin-top: 32px;
}
@media (max-width: 767px) {
  .footer .footer-add {
    margin-top: 13px;
  }
}
.footer .footer-tel {
  margin-top: 10px;
}
@media (max-width: 767px) {
  .footer .footer-tel {
    margin-top: 6px;
  }
}
.footer .footer-center {
  width: 48%;
}
@media (max-width: 767px) {
  .footer .footer-center {
    width: 100%;
    margin-top: 24px;
  }
}
.footer .footer-nav {
  display: flex;
}
.footer .footer-nav li:not(:first-child) {
  margin-left: 40px;
}
@media (max-width: 767px) {
  .footer .footer-nav li:not(:first-child) {
    margin-left: 20px;
  }
}
.footer .footer-nav li a {
  transition: all 0.3s ease 0s;
}
.footer .footer-nav li a:hover {
  opacity: 0.7;
}
@media (max-width: 767px) {
  .footer .footer-right {
    width: 100%;
    margin-top: 24px;
  }
}
.footer .footer-sns {
  display: flex;
  justify-content: flex-end;
}
@media (max-width: 767px) {
  .footer .footer-sns {
    justify-content: center;
  }
}
.footer .footer-sns li:not(:first-child) {
  margin-left: 16px;
}
.footer .footer-sns li img {
  width: 30px;
  transition: all 0.3s ease 0s;
}
.footer .footer-sns li img:hover {
  opacity: 0.7;
}
.footer .footer-copy {
  text-align: center;
  margin-top: 46px;
  font-size: 14px;
}
@media (max-width: 767px) {
  .footer .footer-copy {
    margin-top: 22px;
  }
}

.to-top {
  position: fixed;
  right: 24px;
  bottom: 24px;
}
@media (max-width: 767px) {
  .to-top {
    right: 12px;
    bottom: 12px;
  }
}
.to-top a img {
  width: 60px;
  transition: all 0.3s ease 0s;
}
.to-top a img:hover {
  opacity: 0.7;
}
@media (max-width: 767px) {
  .to-top a img {
    width: 40px;
  }
}

.card {
  background: #efefef;
}
.card .card-inner .card-title {
  margin-top: 0;
}
.card .card-inner .card-box {
  margin-top: 80px;
}
@media (max-width: 767px) {
  .card .card-inner .card-box {
    margin-top: 42px;
  }
}
.card .card-inner .card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}
.card .card-inner .card-item {
  width: calc(((100% - 24px * 2) / 3) - 1px);
  background: #fff;
  padding: 16px;
  border-radius: 4px;
}
.card .card-inner .card-item img {
  width: 100%;
}
@media (min-width: 1200px) {
  .card .card-inner .card-item:not(:nth-child(3n+1)) {
    margin-left: 24px;
  }
  .card .card-inner .card-item:nth-child(n+4) {
    margin-top: 20px;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .card .card-inner .card-item {
    width: calc(((100% - 24px * 1) / 2) - 1px);
  }
  .card .card-inner .card-item:not(:nth-child(2n+1)) {
    margin-left: 24px;
  }
  .card .card-inner .card-item:nth-child(n+3) {
    margin-top: 20px;
  }
}
@media (max-width: 767px) {
  .card .card-inner .card-item {
    width: 100%;
    margin-left: 0;
  }
  .card .card-inner .card-item:nth-child(n+2) {
    margin-top: 20px;
  }
}
.card .card-inner .card-item-desc .card-item-title {
  font-size: 20px;
  font-weight: 700;
  color: #6f7579;
  margin-top: 4px;
  margin-bottom: 0;
}
.card .card-inner .card-item-desc .card-item-text {
  font-weight: 700;
  color: #6f7579;
  line-height: 1.5;
  margin-top: 5px;
  margin-bottom: 0;
}

.top {
  background: url(../img/mainvisual.png) no-repeat center center/cover;
  height: 600px;
  width: 100%;
  position: relative;
  margin-top: 100px;
}
@media (max-width: 767px) {
  .top {
    margin-top: 60px;
    height: 420px;
  }
}
.top .top-inner .top-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
}
.top .top-inner .top-title {
  font-size: 64px;
  font-weight: 700;
  line-height: 1.3;
}
@media (max-width: 767px) {
  .top .top-inner .top-title {
    font-size: 32px;
    margin-top: 18px;
  }
}
.top .top-inner .top-text {
  font-size: 24px;
  font-weight: 700;
  margin-top: 12px;
}
@media (max-width: 767px) {
  .top .top-inner .top-text {
    font-size: 18px;
    margin-top: 10px;
  }
}
.top .top-inner .btn {
  margin-top: 30px;
}
@media (max-width: 767px) {
  .top .top-inner .btn {
    margin-top: 28px;
  }
}
.top .top-inner .btn a {
  display: inline-block;
  width: 390px;
  max-width: 100%;
  height: 72px;
  line-height: 83px;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  color: #fff;
  background: #3F51B5;
  border-radius: 12px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  transition: all 0.3s ease 0s;
}
@media (max-width: 767px) {
  .top .top-inner .btn a {
    width: 280px;
    height: 60px;
    line-height: 60px;
    font-size: 24px;
  }
}
.top .top-inner .btn a:hover {
  opacity: 0.7;
}
.news .news-items {
  margin: 61px auto 0;
  width: 800px;
  max-width: 100%;
}
@media (max-width: 767px) {
  .news .news-items {
    margin-top: 40px;
  }
}
.news .news-item {
  display: flex;
  padding: 20px 0 12px;
}
.news .news-item:not(:first-child) {
  border-top: 1px solid #707070;
}
@media (max-width: 767px) {
  .news .news-item {
    display: block;
  }
}
.news .news-meta {
  display: flex;
  width: 185px;
}
.news .news-date {
  width: 105px;
  padding-top: 3px;
}
.news .news-label a {
  display: inline-block;
  width: 80px;
  height: 32px;
  line-height: 32px;
  color: #fff;
  text-align: center;
  background: #666;
  border-radius: 4px;
  font-weight: 700;
  transition: all 0.3s ease 0s;
}
.news .news-label a.is-blue {
  background: #3f51b5;
}
.news .news-label a.is-red {
  background: #e81919;
}
.news .news-label:hover {
  opacity: 0.7;
}
.news .news-text {
  width: calc(100% - 185px);
  padding-left: 20px;
  padding-top: 3px;
}
.news .news-text a {
  line-height: 1.25;
  transition: all 0.3s ease 0s;
}
.news .news-text a:hover {
  opacity: 0.7;
}
@media (max-width: 767px) {
  .news .news-text {
    width: 100%;
    padding-left: 0;
    padding-top: 0;
    margin-top: 6px;
  }
}
.news .news-link {
  margin-top: 38px;
  text-align: center;
}
@media (max-width: 767px) {
  .news .news-link {
    margin-top: 30px;
  }
}
.news .news-link a {
  color: #e81919;
  font-weight: 700;
  position: relative;
  padding-right: 14px;
  transition: all 0.3s ease 0s;
}
.news .news-link a::after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 7px;
  height: 11px;
  background: url(../img/news-arrow.svg) no-repeat center center/contain;
}
.news .news-link a:hover {
  opacity: 0.7;
}

.price {
  padding: 100px 0 120px;
  background: #efefef;
}
.price .price-wrapper {
  display: flex;
  margin-top: 80px;
}
@media (max-width: 767px) {
  .price .price-wrapper {
    margin-top: 40px;
  }
}
@media (max-width: 767px) {
  .price .price-wrapper {
    display: block;
  }
}
.price .price-image {
  width: 37.8333333333%;
}
@media (max-width: 767px) {
  .price .price-image {
    text-align: center;
    width: 100%;
  }
}
.price .price-table {
  width: 59%;
  margin-left: auto;
}
@media (max-width: 767px) {
  .price .price-table {
    width: 100%;
    margin-top: 24px;
  }
}
.price .table {
  border-collapse: collapse;
  border: 1px solid #707070;
  background: #fff;
  font-weight: 700;
  width: 100%;
  table-layout: fixed;
}
.price .table th,
.price .table td {
  border: 1px solid #707070;
  padding: 0 24px;
  height: 58px;
  vertical-align: middle;
}
.price .table th {
  background: #999999;
  color: #fff;
  text-align: center;
}
.price .table th:nth-child(1) {
  width: 172px;
}
@media (max-width: 767px) {
  .price .table th:nth-child(1) {
    width: 112px;
  }
}
.price .table td {
  text-align: right;
}
.price .table strong {
  color: #E81919;
  line-height: 1.2;
}
.price .table span {
  font-size: 13px;
  display: block;
  margin-top: 1px;
  line-height: 1.2;
}
.price .price-attention {
  font-size: 14px;
  margin-top: 10px;
}
.price .price-attention a {
  font-weight: 700;
  text-decoration: underline;
  transition: all 0.3s ease 0s;
}
.price .price-attention a:hover {
  opacity: 0.7;
}

.access .access-map {
  margin: 80px auto 0;
  width: 800px;
  max-width: 100%;
}
@media (max-width: 767px) {
  .access .access-map {
    margin-top: 40px;
  }
}
.access .iframe-wrap {
  width: 100%;
  padding-top: 50%;
  position: relative;
}
.access .iframe-wrap iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.access .access-info {
  margin: 16px auto 0;
  width: 800px;
  max-width: 100%;
}
.access .access-info-row {
  display: flex;
  align-items: center;
}
.access .access-info-row:not(:first-child) {
  margin-top: 8px;
}
.access .access-info-row dt {
  margin: 0;
  padding: 0;
  font-weight: 700;
  width: 104px;
}
.access .access-info-row dd {
  margin: 0;
  padding: 0;
  width: calc(100% - 104px);
}
.access .access-btn {
  text-align: center;
  margin-top: 30px;
}
.access .access-btn a {
  display: inline-block;
  text-align: center;
  width: 304px;
  color: #fff;
  font-weight: 700;
  padding: 16px 12px;
  border-radius: 8px;
  background: #3F51B5;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  position: relative;
  transition: all 0.3s ease 0s;
}
.access .access-btn a:hover {
  opacity: 0.7;
}
.access .access-btn a::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translateY(-50%);
  width: 17px;
  height: 16px;
  background: url(../img/button-arrow.svg) no-repeat center center/contain;
}

.contact {
  background: #efefef;
}
.contact .contact-form {
  margin: 80px auto 0;
  width: 800px;
  max-width: 100%;
  background: #fff;
  padding: 60px;
}
@media (max-width: 767px) {
  .contact .contact-form {
    margin-top: 40px;
    padding: 24px;
  }
}
.contact .contact-form-row {
  display: flex;
}
@media (max-width: 767px) {
  .contact .contact-form-row {
    display: block;
  }
}
.contact .contact-form-row:not(:first-child) {
  margin-top: 60px;
}
@media (max-width: 767px) {
  .contact .contact-form-row:not(:first-child) {
    margin-top: 30px;
  }
}
.contact .contact-form-label {
  width: 160px;
  padding-top: 5px;
  margin: 0;
}
@media (max-width: 767px) {
  .contact .contact-form-label {
    width: 100%;
  }
}
.contact .contact-form-label label {
  font-weight: 700;
}
.contact .contact-form-label label.is-required {
  display: inline-block;
  position: relative;
}
.contact .contact-form-label label.is-required::after {
  content: "必須";
  position: absolute;
  top: calc(100% + 2px);
  left: 0;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  background: #e81919;
  text-align: center;
  border-radius: 4px;
  padding: 2px 8px;
  line-height: 1;
}
@media (max-width: 767px) {
  .contact .contact-form-label label.is-required::after {
    top: 50%;
    transform: translateY(-50%);
    left: calc(100% + 6px);
    width: 44px;
  }
}
.contact .contact-form-input {
  width: calc(100% - 160px);
  margin: 0;
  padding: 0;
}
@media (max-width: 767px) {
  .contact .contact-form-input {
    width: 100%;
    margin-top: 5px;
  }
}
.contact .contact-form-input [type=text] {
  box-shadow: none;
  border: 1px solid #707070;
  background: #fff;
  padding: 10px 16px;
  appearance: none;
  border-radius: 0;
  color: inherit;
  font-family: inherit;
  font-size: 14px;
  width: 100%;
}
.contact .contact-form-input [type=email] {
  box-shadow: none;
  border: 1px solid #707070;
  background: #fff;
  padding: 10px 16px;
  appearance: none;
  border-radius: 0;
  color: inherit;
  font-family: inherit;
  font-size: 14px;
  width: 100%;
}
.contact .contact-form-input select {
  appearance: none;
  border-radius: 0;
  box-shadow: none;
  border: 1px solid #707070;
  padding: 12px 16px;
  color: inherit;
  font-family: inherit;
  font-size: 14px;
  width: 100%;
  background: #fff url(../img/select-arrow.svg) no-repeat right 12px center/17px 14px;
}
.contact .contact-form-input textarea {
  height: 240px;
  box-shadow: none;
  border: 1px solid #707070;
  background: #fff;
  padding: 10px 16px;
  appearance: none;
  border-radius: 0;
  color: inherit;
  font-family: inherit;
  font-size: 14px;
  width: 100%;
  resize: none;
}
.contact .contact-form-radio {
  margin-top: 32px;
}
@media (max-width: 767px) {
  .contact .contact-form-radio {
    margin-top: 26px;
  }
}
.contact .contact-form-radio [type=radio] {
  display: none;
}
.contact .contact-form-radio span {
  display: inline-block;
  padding-left: 26px;
  position: relative;
  margin-right: 36px;
}
@media (max-width: 767px) {
  .contact .contact-form-radio span {
    margin-bottom: 8px;
  }
}
.contact .contact-form-radio span::before {
  content: "";
  width: 20px;
  height: 20px;
  border: 1px solid #707070;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background: #fff;
  border-radius: 50%;
}
.contact .contact-form-radio span::after {
  content: "";
  width: 10px;
  height: 10px;
  background: #3F51B5;
  position: absolute;
  left: 5px;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
  display: none;
}
.contact .contact-form-radio [type=radio]:checked + span::after {
  display: block;
}
.contact .contact-form-check {
  margin-top: 63px;
  text-align: center;
}
.contact .contact-form-check [type=checkbox] {
  display: none;
}
.contact .contact-form-check span {
  display: inline-block;
  padding-left: 49px;
  position: relative;
}
.contact .contact-form-check span a {
  font-weight: 700;
  text-decoration: underline;
  transition: all 0.3s ease 0s;
}
.contact .contact-form-check span a:hover {
  opacity: 0.7;
}
.contact .contact-form-check span::before {
  content: "";
  width: 25px;
  height: 25px;
  background: #fff;
  border: 1px solid #707070;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
}
.contact .contact-form-check span::after {
  content: "";
  width: 25px;
  height: 25px;
  background: #fff;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  background: transparent url(../img/checkbox.svg) no-repeat center center/contain;
  display: none;
}
.contact .contact-form-check [type=checkbox]:checked + span::after {
  display: block;
}
.contact .contact-form-btn {
  margin-top: 30px;
  text-align: center;
}
.contact .contact-form-btn [type=submit] {
  display: inline-block;
  text-align: center;
  width: 304px;
  color: #fff;
  font-weight: 700;
  padding: 16px 12px;
  border-radius: 8px;
  background: #3F51B5 url(../img/button-arrow.svg) no-repeat right 12px center/17px 16px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  position: relative;
  appearance: none;
  font-family: inherit;
  border: none;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}
.contact .contact-form-btn [type=submit]:hover {
  opacity: 0.7;
}/*# sourceMappingURL=style.css.map */
